.ipynb_checkpoints
.bin
*.db

*.parquet
*.html
*.csv

.venv
venv
.idea
**/artifacts/
**/models/

__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*

mlopszooomcamp-f24a34ad2ff1.json
.DS_Store